@charset "utf-8";
@import "variables";
@import "bootstrap/bootstrap";

body { padding-top: 70px; }

// .container {
// 	@media (min-width: 1200px) {
//     	width: 1180px;
// 	}

// 	@media (min-width: 1180px) {
//     	width: 1180px;
// 	}

// 	@media (max-width: 991px) {
//     	width: 768px;
// 	}
// }

.img-responsive {
  @include img-responsive;
  width: 100%;
}

.br {
  background-color: rgba(255,0,0,.15);
}

.ob {
  border: 1px solid blue;
}

.or {
  border: 1px solid red;
}

.og {
  border: 1px solid green;
}




